body{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(https://cdn.pixabay.com/photo/2018/04/10/17/49/connection-3308188_640.jpg);
    background-size: contain; 
  
}
